# Dependency directories
node_modules/
jspm_packages/
build/

# Distribution directories
dist/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env